<!DOCTYPE html>
<html lang="en">

  <%- include('/partials/head.ejs') %> 

  <body>
  
  <%- include('/partials/navBar.ejs') %>

    <main class="container-fluid">
     
      <!--Administrador de productos-->

      <section class="row">
        <article id="article" class="col-12" >
          <h2 class="display-4 text-white bg-info text-center pt-5">Administrador de Productos</h2>
        </article>
        
        <!--Button Agregar-->
        <article class="col-12 mt-3">
          <a class="btn btn-primary" href="/administrar/create">Agregar <ion-icon name="add-circle-outline"></ion-icon></a> 
        </article>
        
        <!-- New Route- Search

        <article class="col-6">
          <form action="/administrar/search_results" method="GET">
            <input type="search" name="search">
            <button class="btn btn-primary" type="submit"><ion-icon name="search-outline"></ion-icon></button>
          </form>
        </article>
      
        -->

        <article class="col-12" >
        <table class="table mt-1">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
             
              <%products.forEach(chocolate => { %>
                <tr>
                  <td><%= chocolate.id%> </td>
                  <td><%= chocolate.name%> </td>
                  <td><a href="/administrar/detail/<%= chocolate.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                  <td><a href="/administrar/edit/<%= chocolate.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                  <td><a href="/administrar/delete/<%= chocolate.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
                <% }); %>

            
             <!--Se necesita terminar -->
              
            </tbody>
          </table> 
        </article>       
      </section>
     
    </main>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  
    <%- include('/partials/footer.ejs') %>
  
  </body>
</html>




