<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <main class="container-fluid">
      <%- include('../partials/navBar.ejs') %>   
      <!--Producto-->

      <section class="row">
            <article class="col-12 col-md-6 mx-auto mt-5" style="margin-top:100px">
                <figure >
                  <img  src="/images/users/<%= user.avatar%>" class="card-img-top w-100 d-block" alt="Chocolate">
                </figure> 
               
                <div class="card-body">
                  <h5 class="card-title"><%= user.first_name%></h5>
                  <h5 class="card-title"><%= user.email %></h5>
                  <p class="card-text"><%= user.email %></p>
                  
                </div>
                <a href="/administrar" class="btn btn-danger">Volver</a>           

            </article>

      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>

