<!doctype html>
<html lang="es">
  <%- include('../partials/head.ejs') %>    
<body>
    <main class="container-fluid">
      <%- include('../partials/navBar') %>  
      <!--Administrador de productos-->      <section class="row">
        <article class="col-12">
          <h2 class="display-4 text-white bg-info text-center pt-5" style="margin-top: 100px">gestión de usuarios</h2>
        </article>
        <article class="col-6">
          <a class="btn btn-primary" href="/umanagers/create">Agregar <ion-icon name="add-circle-outline"></ion-icon></a>          
        </article>
        <article class="col-6">
          <form action="/umanagers/search_results" method="POST">
            <input type="search" name="search">
            <button class="btn btn-primary" type="submit">Busca<ion-icon name="search-outline"></ion-icon></button>
          </form>
        </article>
        </article>  
        <article class="col-12" >        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(post => { %>
              <tr>
                <td><%=post.email %> </td>
                <td><%=post.first_name %> <%=post.last_name %> </td>
                <td><a href="/umanagers/detail/<%= post.email%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/umanagers/edit/<%= post.email%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td><a href="/umanagers/delete/<%= post.email%>"><ion-icon name="trash-outline"></ion-icon></a></td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </article>       
      </section>      <%- include('../partials/footer.ejs') %>
    </main>
  </body>
</html>