<!DOCTYPE html>
<html lang="es">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
			<!-- Bootstrap CSS -->
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>       
			<link rel="stylesheet" href="/css/bootstrap.min.css">
	
		<!-- Cici's Stylesheets-->
		  <link rel="stylesheet" href="/css/master.css">	
      <link rel="stylesheet" href="/css/productCart.css">
			<title>Mafci Chocolate Artesanal</title>
	</head>

  <body>   
   
    <%- include('../partials/navBar.ejs') %>       

    <article style="width: cover; padding-top:0; padding-bottom: 1rem; margin-top:75px">
      <h2 class="display-4 text-white bg-info text-center pt-5" >tu carrito</h2>
    </article>

  

            <!--Cart-->
                        
                <div class="pb-5">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                        <% cartProducto.forEach(item => { %>
                       
                          <!-- Shopping cart table -->
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col" class="border-0 bg-light">
                                  <div class="p-2 px-3 text-uppercase">Producto</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                  <div class="py-2 text-uppercase">Precio</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                  <div class="py-2 text-uppercase">Cantidad</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                  <div class="py-2 text-uppercase">Eliminar</div>
                                </th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <th scope="row" class="border-0">
                                  <div class="p-2">
                                    <img src="/images/products/<%= item.product.image %>" alt="<%= item.product.name %>" width="70" class="img-fluid rounded shadow-sm">
                                    <div class="ml-3 d-inline-block align-middle">
                                     <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">  <%= item.product.name %></a></h5>
                                      <span class="text-muted font-weight-normal font-italic d-block">Category</span>
                                    </div>
                                  </div>
                                </th>
                                <td class="border-0 align-middle"><strong>  $<%= item.salePrice; %></strong></td>
                                <td class="border-0 align-middle"><strong><%= item.quantity %></strong></td>
                                <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                              </tr>
                              <% }); %>
                           
                            </tbody>
                          </table>
                        </div>
            
                        <!-- End -->
                      </div>
                    </div>
              
                    <div class="row py-5 p-4 bg-white rounded shadow-sm">
            
                      <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Código promocional</div>
                        <div class="p-4">
                          <p class="font-italic mb-4">Si tenés un código promocional, ingresé la información aquí.</p>
                          <div class="input-group mb-4 border rounded-pill p-2">
                            <input type="text" placeholder="Aplicar código promocional" aria-describedby="button-addon3" class="form-control border-0">
                            <div class="input-group-append border-0">
                              <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Aplicar</button>
                            </div>
                          </div>
                        </div>
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instrucciones para el vendedor</div>
                        <div class="p-4">
                          <p class="font-italic mb-4">Dejá tus instrucciones aquí.</p>
                          <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                        </div>
                      </div>
            
                      <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Resumen del pedido</div>
                        <div class="p-4">
                          <p class="font-italic mb-4">Al realizar el pedido, aceptas el aviso de privacidad y las condiciones de uso de Mafci.</p>
                          <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Productos </strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Envío y manejo:</strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Cálculo estimado de impuestos por cobrar:</strong><strong>$0.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total del pedido:</strong>
                              <h5 class="font-weight-bold">$350.00</h5>
                            </li>
                          </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Finalizar pedido</a>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
              
            <!--- Footer -->
            
       

<%- include('../partials/footer.ejs') %>

</body>
</html>


  