<!doctype html>
<html lang="es">
  <%- include('../partials/head'); %>

  <body>
    <div class="container-fluid">
      <%- include('../partials/navBar'); %>
      <!-- Cuerpo principal -->
      <section class="row">
          <article class="card pt-5" >
                  <div class="card-body container-fluid">
                    <h2 class="card-title card-title text-white bg-info text-center display-4" style="margin-top: 100px">Felicitaciones!</h2>
                    <h4 class="card-title text-center display-6 "> ya compraste tu chocolate.</h4>
                  </div>
          </article>
      </section>

      <div>
        <div class="row">
           <article >
              <h2 class="display-5 text-white bg-info text-center pt-5 ">Detalle de la compra</h2>
           </article>
        </div>
        <div >
           <div class="row">
              <div class="col-6 col-sm-12">
                 <article  >
                    <h2 >
                       <strong>Numero de orden: </strong><%= cart.orderNumber %>
                    </h2>
                    <hr class="mb-4">
                    <strong>Total:</strong><p>$<%= cart.total %></p>
                    <br>
                    <strong>Platos:</strong>
                    <ul>
                       <% cart.items.forEach(item => { %>
                       <li><p><%= item.dish.name %> x<%= item.quantity %> - <strong><small><%= item.dish.user.username %></small></strong></p></li>
                       <% }) %>
                    </ul>
                    <br>
                    <strong>Fecha de compra:</strong><p><%= new Date(cart.createdAt).toLocaleDateString()%></p>
                    <hr>
  
                 </article>
              </div>
           </div>
        </div>
     </div>
      <%- include('../partials/footer'); %>
     
    </div> 
    </body>
</html>