<!doctype html>
<html lang="es">
  <%-include('../partials/head') %>
  <body>
    <div class="container-fluid">
        <%- include('../partials/navBar') %>  
        <!-- Cuerpo principal -->
        <section class="row">
          <article class="col-12  card pt-5" >
                  <div class="card-body container-fluid">
                    <h2 class="card-title text-white  bg-info  text-center display-4" style="margin-top: 100px">registrate</h2>
                    <h4 class="text-center display-6" >creá tu cuenta ahora para poder comer chocolate!</h4>
                  </div>
          </article>
      </section>
​
        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                     <!-- Error Section-->
                     <div class="col-8 mx-auto bg-light pt-2 ">
                        <!--Aquí muestro los errores del lado del Js-Front -->
                        <div>
                         <ul id="errores"> </ul>
                     </div>
                         <!-- Aquí acomode los errores para que se vean mejor y Edu no se Angustie. Abrazos.--->
                         <% if(typeof(errores) != 'undefined'){%>
                             <ul class="alert alert-danger">
                                 <% errores.forEach(error => { %>
                                     <li><%= error.msg%></li>
                                 <%})%>
                             </ul>
                         <%}%>  

                    
                        
                        <div class="signup-form">
                            <form class="formulario" id="formulario" action="/registro" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <!--Noten aqui en los input estoy persistiendo los datos si el usuario coloca algunos datos  buenos, pero otros no-->                                  
                                    <input type="text" class="form-control" name="first_name" placeholder="Nombre" value="<%= typeof old != 'undefined' ? old.first_name : '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" placeholder="Email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Contraseña"  >
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirma Contraseña" >
                                </div>
                                <div class="form-group">
                                    <label for="provincias">Provincia</label>
                                    <select class="form-control" id="province" name="province">
                                        <option value="#" disabled selected>Seleccione su provincia</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="countries">Pais de origen</label>
                                    <table>
                                        <tr>
                                            <td>
                                                <select class="form-control"  id="country" name="country">
                                                    <option value="#" disabled selected>Seleccione su pais de origen</option>
                                                </select>
                                            </td>
                                            <td>
                                                    <img  id="cful"></img>
                                            </td>    
                                        </tr>
                                    </table>            
                                </div>

                                <div class="custom-file">
                                  <input type="file"   name="avatar"  placeholder="Debes eligir tu avatar...">
                              </div>  
​
                              <div class="form-group">
                                  <button type="submit" class="btn btn btn-info" id="buttons">registrate</button>
                              </div>
                            </form>
                            <div class="text-center my-3">ya tenés una cuenta?<a href="/login"><br>Inicia sesión</a></div>
                            </div>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer') %>
        <script src="/js/registerApi.js"></script>
        <script src="/js/registro.js"></script>
</body>
</html>