<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	
		<!-- Bootstrap CSS -->
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>       
			<link rel="stylesheet" href="/css/bootstrap.min.css">
	
		<!-- Cici's Stylesheets-->
		<link rel="stylesheet" href="/css/master.css">	
			<link rel="stylesheet" href="/css/productDetalle.css">
			<title>Mafci Chocolate Artesanal</title>
	</head>

    <body>
		<main class="container-fluid" >

		<%- include('../partials/navBar.ejs') %>  

		<article style="width: cover; margin-top:75px">
			<h2 class="display-4 text-white bg-info text-center pt-5" >chocolate fino como<br> nunca probaste antes.</h2>
		  </article>
    
<!--Product Details-->

<div class="container" class="col-sm-12 col-md-6 col-lg-4"  >
	<div class="row" >
		  <section class="card-body" id="product1" style="padding-right: 0; padding-left: 1.5rem;"  class="col-sm-12 col-md-6 col-lg-4">
			  <img src="/images/products/<%= product.image%>"  id="classic"  alt="<%= product.name%>">      
		  </section>
			<section style="padding-left: 0; padding-right: 1.5rem; margin-top: 25px" class="card-body" id="description">
			  <h2><b><%= product.name%></b></h2>
			  <h3>$ <%= product.price %></h3>
			  <p style="margin-right:1.5rem"><%= product.description %> </p>
				

				<form action="/cart/addToCart" method="post" class="form-inline">
					<input type="hidden" name="productId" value="<%=product.id%>"> 

					<button type="submit"  id="buttons" class="btn btn-outline-secondary">agregá al carrito</button> 
					<label for="cantidad">&nbsp;Cantidad&nbsp;</label>
                    <input  class="form-control" type="number" id="cantidad" width="25px" name="cantidad" value="1">
				</form>

			</section>
	  </div>
</div>

  
	<%- include('../partials/footer.ejs') %>


</body>
</html>