<!DOCTYPE html>
<html lang="en">

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mafci Chocolate Artesanal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="css/productDetalle.css" rel="stylesheet">
        
    </head>
    <body>
		<main class="container-fluid">

		<%- include('../partials/navBar.ejs') %>  
    
<!--Product Details-->
  
  <section class="row">
	<article class="col-12 col-md-6 mx-auto mt-5" style="margin-top:100px">
		<figure >
		  <img  src="/images/products/<%= myProduct.image%>" class="card-img-top w-100 d-block" alt="Chocolate">
		</figure> 
		<% if (myProduct.discount == 30) { %>
		  <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
		<% } else if(myProduct.discount == 15){%>
		  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
		<%}%>
		<div class="card-body">
		  <h5 class="card-title"><%= myProduct.name%></h5>
		  <h5 class="card-title">$ <%= myProduct.price %></h5>
		  <p class="card-text"><%= myProduct.description %></p>
		  
		</div>
		<a href="/administrar" class="btn btn-danger">Volver</a>
	</article>
</section>

  
	<%- include('../partials/footer.ejs') %>


</body>
</html>