<!doctype html>
<html lang="es">
  <%- include('../partials/head.ejs') %>    
<body>
    <main class="container-fluid">
      <%- include('../partials/navBar.ejs') %>
      <!--Listado de nuestros productos-->
      <section class="row">
        <article class="col-12">
          <h2 class="display-4 text-white bg-info text-center pt-5" style="margin-top: 70px">Chocolate fino como nunca probaste antes.</h2>
        </article>
        <% for(let i= 0; i < products.length; i++){ %>
          <article class="col-12 col-md-6 col-lg-3 card p-2">
            <figure >
              <img  src="/images/products/<%= products[i].image%> " class="card-img-top w-100 d-block" alt="Chocolate">
            </figure>
              <% if (products[i].discount == 30) { %>
                <img class="descuento" src="img/promo30.png" alt="Descuento 30%">  
              <% }else if(products[i].discount == 15 ){ %>
                <img class="descuento" src="img/promo15.png" alt="Descuento 30%">
              <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= products[i].name%></h5>
              <h5 class="card-title" >$  <%= products[i].price%> </h5>
              <p class="card-text descripcion"><%= products[i].description%> </p>
              <a href="#" class="btn btn-primary">Ver detalle</a>
            </div>
          </article>
        <% } %>      </section>
      <%- include('../partials/footer.ejs') %>
    </main>
  </body>
</html>