<!--Product Details-->
<div class="container" class="col-sm-12 col-md-6 col-lg-4"> 
	<div class="row">
  <section class="row">
	<article class="col-12 col-md-6 mx-auto mt-5" style="margin-top:100px">
		<figure >
		  <img  src="/images/products/<%= product.image%>" class="card-img-top w-100 d-block" alt="<%= product.name%>" height="100px" width="25px" style="margin-top:100px">
		</figure> 
		<% if (product.discount == 30) { %>
		  <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
		<% } else if(product.discount == 15){%>
		  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
		<%}%>
		<div class="card-body">
		  <h5 class="card-title"><%= product.name%></h5>
		  <h5 class="card-title">$ <%= product.price %></h5>
		  <p class="card-text"><%= product.description %></p>
		  <button type="submit" class="btn btn-primary" id="comprar">agrega al carrito</button> 
		</div>
		<a href="/" class="btn btn-danger">Inicio</a>
	</article>
</section>
</div>
</div>